div#header {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 17px 0 9px;
    border-bottom: 1px solid #d0d0d0;
    height: 81px;
}

a.icon {
    display: block;
    background: no-repeat center/auto 36px url("https://duckduckgo.com/assets/logo_header.v108.svg"),linear-gradient(transparent, transparent);
    width: 101px;
    margin-top: -7px;
    position: absolute;
    left: 0;
    height: 60px;
}

form.search-bar {
    float: left;
    padding-left: 101px;
}

div.search-style {
    width: 590px;
    margin-bottom: 10px;
    height: 44px;
    padding-left: 11px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    padding-right: 94px;
    position: relative;

}

input.search-input {
    font-size: 16px;
    height: 44px;
    font-family: sans-serif;
    -moz-appearance: none;
    display: block;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    z-index: 1;
    position: relative;
    top: -1px;

}

input.search-button {
    background-size: 18px 18px;
    -moz-appearance: none;
    position: absolute;
    top: 0;
    right: 2px;
    height: 44px;
    width: 26px;
    min-width: 26px;
    background-color: rgba(0,0,0,0);
    background-image: url("https://duckduckgo.com/assets/loupe_gray.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: #999;
    border-color: rgba(0,0,0,0);
    padding: 0px 12px;
    border: none;
    box-sizing: content-box;
    margin: -1px -3px;
}

.search-style:hover>.search-button{
    background-image: url("https://duckduckgo.com/assets/loupe_white.png");
    background-color: #5b9e4d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.no-click {
    padding: 20px 0 20px 111px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d0d0d0;
}

.no-click-header {
    color: #333;
    text-decoration: none;
    font-family: sans-serif;
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 600;
    display: block;
    padding-top: 3.5px;
}

.no-click-header:hover {
    text-decoration: underline;
}

.box-container {
    width: 624px;

}

p {
    display: inline;
    line-height: 20.8px;
    font-family: sans-serif;
    font-size: 14.4px;
    opacity: 0.9;
}

.no-click-link {
    font-family: sans-serif;
    font-size: 14.4px;
    text-decoration: none;
    color: #00278e;
}

.no-click-link:hover {
    text-decoration: underline;
}

div.main {
    padding: 10px 0 0 101px;
}

.did-you-mean {
    margin: 8px 0 16px;
    padding: 8px 10px;
    font-family: sans-serif;
    line-height: 25px;
    font-size: 16px
}


#search-instead:hover {
    text-decoration: underline;
}

div.result-container {
    padding: 7px 10px;
    margin-bottom: 17px;
    width: 588px;
}

.result-container:hover {
    background-color: #f7f7f7;
}

a.result-header {
    display: block;
    font-family: sans-serif;
    font-size: 19px;
    color: #00278e;
    padding-bottom: 3px;
}

a.result-header:hover {
text-decoration: underline;
}

div.mid-line {
    display: block;
    position: relative;
    margin: 5px 0 7px;
}

a.result-link {
    color: green;
    font-size: 14.4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

a.result-link:hover {
    text-decoration: underline;
}

.result-text {
    color: #494949;
    line-height: 1.45;
    font-size: 14.4px;
}

.result-text:hover {
    color: #666;
}

img.result-logo {
    height: 16px;
    width: 16px;
    margin-right: 12px;
}

